<%- include('header') %>

<div id="app">
  <div class="main-wrapper main-wrapper-1">
    <!-- Navbar -->
    <%- include('navbar') %>

    <!-- Sidebar -->
    <%- include('sidebar') %>

    <!-- Main Content -->
    <div class="main-content">
      <section class="section"><%- body %></section>
    </div>
  </div>
</div>

<%- include('footer') %>
